@import '@styles/_mixin.module.scss';
@import '@styles/_variable.module.scss';

.btn {
    @include btn(100%, 100%, 3px);
    cursor: pointer;
    border: 1px solid $primary_color;
    color: $white_color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    fill: #fff;

    &:hover {
        transition: background-color 200ms linear;
        background-color: #ffffff00;
        color: $primary_color;
    }
}

.primary {
    background-color: $primary_color;
}

.default {
    color: $primary_color;
    background-color: $white_color;

    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}
