@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.actionBtn {
    @include btn(175px, 42px, $primary_color, 3px);
    cursor: pointer;

    &:hover {
        transition: background-color 200ms linear;
        background-color: #ffffff00;
        border: 1px solid $primary_color;
    }

    &:hover .actionLink {
        color: #333333;
    }
}

.actionBtn-width160 {
    @include btn(160px, 37px, $primary_color, 3px);
}

.actionBtn-width167 {
    @include btn(167px, 41px, $white_color, 3px);
    border: 1px solid $primary_color;
    &:hover {
        background-color: $primary_color;
    }

    &:hover .actionLink {
        color: $white_color;
    }

    .actionLink {
        color: $primary_color;
    }
}

.actionLink {
    color: $white_color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    fill: #fff;
}
