@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(normal, space-between, 0);
    flex-direction: column;
    width: 100%;
    height: 100%;

    .total {
        @include flex_box_custom(center, space-between, 0);
        padding-bottom: 20px;
    }

    .groupBtn {
        @include flex_box_custom(normal, center, 10px);
        flex-direction: column;
    }

    .actBtn {
        height: 43px;
    }

    .infoCart {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin-top: 15px;
        gap: 15px;
    }

    .desc {
        font-size: 16px;
        color: $thrid_color;
        text-align: center;
    }
    .returnShop {
        @include btn(163px, 34px, 4px);
    }
}
