@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(center, space-between, 10px);
    position: relative;
    width: 100%;
    height: 144px;
    background-color: $primary_color;
    padding: 20px 55px;
    margin-top: -75px;
}

.containerCard {
    @include flex_box_custom(center, flex-start, 16px);
    width: 280px;
    padding: 15px;

    .infoTitle {
        font-size: 17px;
        line-height: 22px;
        color: #ffffff;
    }

    .infoDesc {
        font-size: 16px;
        line-height: 21px;
        color: #ffffffc7;
        margin-top: 10px;
    }

    .infoIcon {
        width: 40px;
        height: 40px;
        transform: scaleX(-1);
        filter: brightness(0) saturate(100%) invert(43%) sepia(0%)
            saturate(1133%) hue-rotate(185deg) brightness(101%) contrast(93%);
    }
}
