@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    padding-top: 83px;

    .breadcrumbsBox {
        @include flex_box_custom(center, space-between, 0);
        color: $primary_color;
        font-size: 14px;
        padding: 10px 0;
    }

    .breadcrumbs {
        @include flex_box_custom(center, flex-start, 8px);
        color: $second_color;
    }

    .homeNav {
        text-decoration: none;
        color: $second_color;
    }

    .breadcrumbsLink {
        color: $primary_color;
        font-size: 14px;
        font-weight: 400;
    }

    .backHome {
        cursor: pointer;
        color: $second_color;
    }
}

.contentSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    width: 100%;
    
    .boxImage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        padding: 0 15px 15px 0;

        &:hover div {
            cursor: all-scroll;
        }
    }

    .boxContent {
        padding: 15px;

        .heading {
            font-size: 24px;
            color: $detail_color;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .price {
            font-size: 20px;
            color: $second_color;
            margin-bottom: 20px;
        }
        .desc {
            font-size: 16px;
            color: $thrid_color;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .size {
            font-size: 16px;
            margin-bottom: 8px;
            color: $thrid_color;
        }

        .boxSize {
            @include flex_box_custom(center, flex-start, 10px);
            margin-top: 4px;
            margin-bottom: 20px;

            .nameSize {
                @include flex_box_custom(center, center, 0);
                width: 26px;
                height: 26px;
                border: 1px solid #949393;
                padding: 3px;
                font-size: 14px;
            }

            .isActive {
                border: 2px solid #000;
            }
        }

        .functionInfo {
            @include flex_box_custom(center, space-between, 0);
            margin-bottom: 20px;
        }

        .quantity {
            @include flex_box_custom(center, flex-start, 0);
            height: 38px;

            span {
                @include flex_box_custom(center, center, 0);
                width: 18px;
                height: inherit;
                padding-right: 4px;
                padding-left: 4px;
                border: 1px solid #e1e1e1;
            }

            div {
                @include flex_box_custom(center, center, 0);
                width: 38px;
                height: inherit;
                border: 1px solid #e1e1e1;
            }
        }

        .addCart {
            width: 85%;
            height: 40px;
        }

        .separate {
            position: relative;
            margin-bottom: 14px;
            text-align: center;
            font-size: 14px;
            padding: 0 5px;
            text-transform: uppercase;
            color: #555;
        }

        .separate::after,
        .separate::before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            width: 40%;
            height: 1px;
            background-color: #555;
            transform: translateY(-50%);
        }

        .separate::before {
            left: 0;
        }

        .separate::after {
            right: 0;
        }

        .boxIcon {
            @include flex_box_custom(center, unset, 10px);
            margin-top: 20px;

            .heartIcon,
            .reloadIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                border: 1px solid #ccc;
                cursor: pointer;
            }

            .heartIcon {
                svg {
                    font-size: 24px;
                }
            }

            .reloadIcon {
                svg {
                    font-size: 20px;
                }
            }
        }

        .productMeta {
            margin: 20px 0;
            .metaInfo {
                color: $detail_color;
                margin-bottom: 10px;
            }

            span {
                color: $second_color;
            }
        }
    }
}

.containerInfo {
    .info {
        display: flex;
        align-items: center;
        padding: 20px 0 20px 0;
        color: #888;
        border-bottom: 1px solid #888;

        &:last-child {
            border-bottom: none;
        }
    }

    .infoTitle {
        font-size: 16px;

        width: 50%;
    }
}

.reviewContent {
    font-size: 16px;
    color: $thrid_color;

    .title {
        text-transform: uppercase;
        color: $detail_color;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #888;
        padding-bottom: 14px;
    }

    .desc {
        color: $thrid_color;
        font-size: 14px;
        margin: 10px 0 20px;
    }

    form {
        label {
            display: block;
            font-size: 16px;
            color: $thrid_color;
            margin: 18px 0 6px;
            span {
                color: red;
            }
        }

        textarea {
            display: block;
            width: 100%;
            margin-bottom: 16px;
            outline: none;
            padding: 10px;
        }

        input {
            padding: 6px;
            width: 100%;
            outline: none;
        }
    }

    .boxStar {
        @include flex_box_custom(center, unset, 20px);
        cursor: pointer;

        div:hover svg {
            color: gold !important;
        }
    }

    .checkbox {
        display: flex;
        gap: 10px;
        margin: 16px 0;

        input {
            width: 18px;
            height: 18px;
        }
    }

    .submitBtn {
        width: 106px;
        height: 34px;
    }
}

.listProduct {
    margin-top: 60px;
    h3 {
        font-size: 24px;
        color: $primary_color;
        text-align: center;
        font-weight: 400;
        margin-bottom: 12px;
    }

    .boxProductItem {
        width: 100%;
    }
}
