@import '@styles/variable.module.scss';

.box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
}

.date {
    font-size: 18px;
    color: $second_color;
}
