@import '@styles/_variable.module.scss';
@import '@styles/_mixin.module.scss';

.container {
    @include flex_box_custom(flex-start, flex-start, 24px);
    position: relative;
    margin-top: 30px;
    padding: 20px 12px;
    border-radius: 3px;

    transition: all 0.3s ease;

    &:hover {
        background-color: #f7f7f7;
    }

    .image {
        width: 70px;
    }

    .titleLink,
    .size {
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
        color: $primary_color;
    }

    .selectQutity {
        padding: 0 6px 0 6px;
        height: 36px;
        font-size: 12px;
        color: $thrid_color;
        border-color: #e1e1e1;
        margin-right: 10px;
        outline: none;
    }

    .price {
        color: $thrid_color;
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 0;
        color: $thrid_color;
        transition: all 0.2s ease-out;
        opacity: 0;
        visibility: hidden;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .loading {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: spin 1s linear infinite;
    }

    &:hover .close {
        right: 12px;
        opacity: 6;
        visibility: visible;
        cursor: pointer;
    }

    .codeProduct {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #333;
    }
}
