.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
    opacity: 0.8;
    color: rgb(33, 33, 33);
    opacity: 1;
}

.slick-prev,
.slick-next {
    transition: color 0.5s linear;
    height: 30px;
    width: 30px;
    opacity: 0;
}

.slick-prev,
.slick-next {
    z-index: 2;
}
