@import '@styles/_mixin.module.scss';

.container {
    position: relative;

    .overlay {
        position: fixed;
        z-index: 999;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);

        transition: all 0.3s ease;
    }

    .sidebar {
        height: 100vh;
        overflow-y: scroll;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        width: 370px;
        height: 100vh;
        background-color: #fff;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.4s ease;
        padding: 20px 30px;
    }

    .slideSideBar {
        transform: translateX(0);
        opacity: 1;
    }

    .closeIcon {
        @include flex_box_custom(center, center, 0);
        position: absolute;
        right: calc(100% + 15px);
        top: 20px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
