@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 0);
    flex-direction: column;
    margin-top: 95px;
    background-color: #363636;
    padding: 40px;
    color: $white_color;
    text-align: center;

    .navBox {
        @include flex_box_custom(center, center, 44px);
        margin: 40px 0;

        & .link {
            text-decoration: none;
            color: $white_color;
            list-style: none;
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 20px;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }

    .pay {
        margin-bottom: 40px;
        & .desc {
            margin-bottom: 20px;
        }
    }
}
