@import '@styles/_variable.module.scss';
@import '@styles/_mixin.module.scss';

.container {
    margin-top: 36px;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.containerItem {
    display: flex;
    gap: 20px;
}
