@mixin radius_common($radius: 10px) {
    border-radius: $radius;
}

@mixin flex_box_custom($x, $y, $gap: 10px) {
    display: flex;
    align-items: $x;
    justify-content: $y;
    gap: $gap;
}

@mixin btn($w: auto, $h: auto, $radius) {
    width: $w;
    height: $h;
    border-radius: $radius;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 200ms linear;
}

@mixin grid($column, $columnGap, $rowGap) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    column-gap: $columnGap;
    row-gap: $rowGap;
}
