@mixin radius_common($radius: 10px) {
    border-radius: $radius;
}

@mixin flex_box_custom($x, $y, $gap: 10px) {
    display: flex;
    align-items: $x;
    justify-content: $y;
    gap: $gap;
}

@mixin btn($w, $h, $bgColor, $radius) {
    width: $w;
    height: $h;
    background-color: $bgColor;
    border-radius: $radius;
    outline: none;
    border: none;
}

// @mixin grid_column($column, $y, $gap) {
//     display: grid;
//     grid-template-columns: (1fr, 2);
//     align-items: $y;
//     column-gap: $gap;
// }
