@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center,center,0);
    background-image: url(../../assets/icons/images/banner.jpeg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content {
    @include flex_box_custom(center,center,0);
    flex-direction: column;
    padding: 15px;
}

.heading {
    font-size: 42px;    
    font-weight: 400;
    text-transform: capitalize;
    line-height: 52px;
    color: $detail_color;
    margin: 0 0 20px;
}

.desc {
    color: $thrid_color;
    font-weight: 400;
    margin-top: 0;
    line-height: 25px;
}
